.inventorycategorypage {
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: -1vw;
}

/*Top parttttttttttttttttttttttttttttttttttttttttttttttttt*/
.headingpart{
    display:grid;
    grid-template-columns:repeat(2, 1fr) ;
}
.categoryheading{
    font-size:36px;
    font-weight:300;
}
.addbuttoncategory {

  text-align:end;
}
.buttonadd {
    align-items: end;
    height: 55px;
    width: 180px;
    border: none;
    border-radius: 10px;
    background-color: #ABBFE0;
    color: #000000;
    font-size: 20px;
}
/*ttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt*/


.categorynamelabel, .categorycodelabel, .categorydescription {
    margin-top: 6px;
    font-weight: 500;
    font-size: 16px;
}

.categorydescription{
    vertical-align:top;
}
.categorydescriptioninput, .categorynameinput {
    background-color: #d9d9d9;
    border-radius: 10px;
}
.categorytable thead{
    border-bottom: 2px solid #dcdcdc;
}

    .categorytable th, .categorytable td {

        padding: 10px 10px;
        text-align: start;

    }
    .categorytable th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .categorytable thead, .categorytable tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
  
    }
.categorytable .thfirst, .th{
    text-align:start;
}

categorytable thead th, .thlast {
    text-align:end;
}



.table-container {
    border: 2px solid #dcdcdc;
}



.updatebutton {
    color: dodgerblue;
    font-size: 20px;
    cursor: pointer;
}
.categorytable tbody {
    display: block;
    overflow-y: scroll;
    height: 50vh !important;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

.categorytable .thlast{
    border-radius:0 10px 0 0;
    text-align:right !important;
    padding-right:20px;
}
.paginationpart select {
    border: none;
    background-color: #d9d9d9;
    border-radius:5px;
    height:29px;
    width:57px;
}

.paginationpart {
    margin-top: 4vh;
}
.action-icon {
    text-align:right !important;
    padding-right:20px;

}
.trash-icon {
    color:#E72929;
    cursor:pointer;
}
.selectcompany{
    height:29px;
    width:57px
}


/*Search Buttonnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn*/
.search-pannel {
    display: flex;

    margin-bottom:20px;
 
}
    .search-pannel input{
        width:500px;
    }
    .search-input {
        border: 1px solid #dcdcdc;
        padding: 10px;
        border-radius:10px 0 0 10px;


    }
.search-button {
    background-color: #0C2144;
    color:white;
    width:60px;
    border-radius:0 10px 10px 0;
}
.search-button i{
    font-size:22px;
}
/*nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn*/





/*.categorytable tr td:last-child {
    padding-right: 30px;
}*/
.categorytable tr td:nth-last-child(2){
    width:300px;
}

.categorytable thead th:nth-last-child(2) {
    width: 300px; 
}





/*Media Quary ====================================================================================*/
@media screen and (max-width: 1632px) {
 
}

@media screen and (max-width: 1254px){
 
} 
@media screen and (max-width: 1080px){
    .inventorycategorypage {
        margin-top: 4.5%;
    }
.search-pannel input{
    width:400px !important;
}
.buttonadd{
    font-size:18px;
}
.categorytable{
    font-size:14px;
}
}

@media screen and (max-width: 974px) {
    .inventorycategorypage{
        margin-top:5%;
    }
    .buttonadd{
        height:50px;
        width:150px;

    }
    .search-pannel{
        width:400px!important;
    }
}

@media screen and (max-width: 798px) {
    .inventorycategorypage {
        margin-top: 6%;
    }
    .buttonadd {
        height: 45px;
        width: 130px;
        font-size:14px;
    }
    .search-pannel{
        width:350px !important;
    }
    .search-button{
        width:70px;
    }
    .search-input{
        padding:5px;
    }
    .search-button i{
        font-size:16px;
    }
    .categorytable tr td:nth-last-child(2) {
        width: 200px;
    }

    .categorytable thead th:nth-last-child(2) {
        width: 200px;
    }
    .categorytable tbody{
        height:45vh !important;
    }


}

















