.inventorycategorypage {
   margin-top:3%;
   margin-bottom:2%;
   margin-left:-1vw;
/*   height:100%;
   overflow:hidden;
   position:fixed;*/
}

.category-heading{
    font-size:36px;
    font-weight:300;
}


.search-panel {
 
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-panel input[type="text"], .search-panel select {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    width:50%;
}



/*.search-panel button:hover {
    background-color: #0056b3;
}*/

.categorynamelabel, .categorycodelabel, .categorydescription {
    margin-top: 6px;
    font-weight: 500;
    font-size: 16px;
}

.categorydescription{
    vertical-align:top;
}
.categorydescriptioninput, .categorynameinput {
    background-color: #d9d9d9;
    border-radius: 10px;
}


    .categorytable th, .categorytable td {

        padding: 10px 10px;
        text-align: start;

    }
    .categorytable th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .categorytable thead, .categorytable tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
  
    }
.categorytable .thfirst, .th{
    text-align:start;
}

categorytable thead th, .thlast {
    text-align:end;
}
.categorytable thead th {
   /* background-color: var(--tablehead-background);*/
 /*   color: #111;*/
}

.categorytable tbody tr:nth-child(odd) {
    background-color: #d1d1d1;
}

    .categorytable tbody tr:hover {
        background-color: var(--tablehead-background);
    }


.addbutton {
    border: none;
    /* background-color: var(--our--commonblue-color);*/
    color: black;
    background-color: #ABBFE0;
    height: 7vh;
    width: 10vw;
    border-radius: 10px;
/*    margin-left: 20vw;*/
margin-left:70%;
}
.AddCatogeryBtn {
/*    padding-left: 20vh;*/
    padding:2vh 0 0 20vh;
}
.searchbutton {
    /*    background-color: var(--our--commonblue-color);*/
    border: none;
    background-color: #ABBFE0;
    border-radius: 10px;
    width: 15vh;
    height: 8vh;
    color: black;
    cursor: pointer;
}
.updatebutton {
    color: dodgerblue;
    font-size: 20px;
    cursor: pointer;
}
.categorytable tbody {
    max-height: 45vh;
    display:block;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

.categorytable .thlast{
    border-radius:0 10px 0 0;
    text-align:right !important;
    padding-right:20px;
}
.paginationpart select {
    border: none;
    background-color: #d9d9d9;
    border-radius:5px;
    width:30px;
}
.paginationpart{

    padding:1vh;
}
.action-icon {
    text-align:right !important;
    padding-right:20px;

}
.trash-icon {
    color:#E72929;
    cursor:pointer;
}


