
.Vendorpage{
    width:80vw;
margin-top:4% !important;

}

::-webkit-scrollbar {
   display:none;
}

/*First col of form part stylings*/

/*For Blazoried components  stylings refer to app.css*/
.firstcol, .secondcol, .thirdcol, .fourthcol {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
   
    .firstcol .vendornamelabel {
        line-height: 2.2;
        font-weight: 500;
        width: 12vw;
    }


.addiconbtn {
    background-color: #0C2144;
    color:#fff;
    margin-left:-3px;
    width:4vw;
    border-radius: 0px 10px 10px 0px;
}
    .addiconbtn:hover {
        background-color: var(--inputbox-color);
        border: 1px solid #111;
        color: #111;
    }

.branchlabel {
    width: 10vw;
    line-height: 2.3;
    font-weight: 500;
}

.branchinput, .receiptypeselect {
    background-color: var(--inputbox-color);
    border: 1px solid #111;
    height: 5vh;
    border-radius: 10px;
    width: 100%;
}
.receiptypelabel {
    width: 10.5vw;
    line-height: 2.3;
    font-weight: 500;
}

.panvatlabel {
    line-height: 2.4;
    width: 8vw;
    font-weight: 500;
}
/*panvatinput is blazorized input component */

.invoicelabel {
    width: 8vw;
    line-height: 2.3;
    font-weight: 500;
}
.invoiceinput {
    background-color: var(--inputbox-color);
    border: 1px solid #111;
    height: 5vh;
    border-radius: 10px;
    width: 100%;
}

.billnolabel {
    width: 8vw;
    line-height: 2.3;
    font-weight: 500;
}
.billnoinput {
    background-color: var(--inputbox-color);
    border: 1px solid #111;
    height: 5vh;
    border-radius: 10px;
    width: 100%;
}

.issuedateadlabel, .duedateadlabel {
    width:7.5vw;
    line-height:1.2;
    font-weight:500;
}
.issuedateadinput, .duedateadinput {
    background-color: var(--inputbox-color);
    border: 1px solid #111;
    padding-left: 5px;
    height: 5vh;
    border-radius: 10px;
    width: 100%;
}
.moplabel {
    width: 7.5vw;
    font-weight: 500;
    line-height:2.3;
}
.mopinput {
    background-color: var(--inputbox-color);
    border: 1px solid #111;
    padding-left: 5px;
    height: 5vh;
    border-radius: 10px;
    width: 100%;
}
.issuedatebslabel, .duedatebslabel {
    width: 8vw;
    line-height:1.1;
    font-weight: 500;
}
.issuedateclearbtn, .duedatebsbtn {
    background-color: #0C2144;
    color: #fff;
    margin-left: -3px;
    font-size:22px;
    width: 4vw;
    height:5.3vh;
    border:none;
    border-radius: 0px 10px 10px 0px;
}
    .issuedateclearbtn:hover, .duedatebsbtn:hover {
        background-color: red;
       border:none;
    }
.issuedatebsinput, .buedatebsinput {
    background-color: var(--inputbox-color);
    border: 1px solid #111;
    padding-left: 5px;
    height: 5vh;
    border-radius: 10px;
    width: 100%;
}
.addproductbtndiv{
    text-align:center;
}
.addproductbtn {
    border: none;
    background-color: #0C2144;
    border-radius: 5px;
    height: 4vh;
    width: 73%;
    margin-left:27%;
    text-align: center;
    color: #fff; 
    padding-top: -5px !important;
}
/*Tab.le elements design*/

#productTable tr:nth-child(even) {
    background-color: #fff !important;
}

#productTable tr:nth-child(even):hover {
    background-color: #f2f2f2 !important;
}
.producttablediv {
  
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    width: 100%;
}
#productTable {
    width: 100%;
    border: 1px solid #a8a8a8;
    border-radius: 10px 10px 0 0 !important;
    border-bottom: none;
    width: 80vw;
    margin-bottom: 1%;
}

    #productTable th, #productTable td {

     
        border: none;
    }

    #productTable th {
        background-color: #fff !important;
    }



    /* Specific column widths */
    .tablehead th:nth-child(1), .tablebody td:nth-child(1) {
        width: 5% !important; /* S.No */
        
    }

.tablehead th:nth-child(2), .tablebody td:nth-child(2) {
    text-align: center !important;
    width: 19% !important; /* Product/Barcode */
}

    .tablehead th:nth-child(3), .tablebody td:nth-child(3) {
        width: 10% !important; /* UoM */
    }

    .tablehead th:nth-child(4), .tablebody td:nth-child(4) {
        width: 10% !important; /* Qty */
    }

    .tablehead th:nth-child(5), .tablebody td:nth-child(5) {
        width: 8% !important; /* Unit */
    }

    .tablehead th:nth-child(6), .tablebody td:nth-child(6) {
        width: 10% !important; /* Rate */
    }

    .tablehead th:nth-child(7), .tablebody td:nth-child(7) {
        width: 10% !important; /* Disc% */
    }

    .tablehead th:nth-child(8), .tablebody td:nth-child(8) {
        width: 10% !important; /* Disc Amt */
    }

    .tablehead th:nth-child(9), .tablebody td:nth-child(9) {
        width: 10% !important; /* Amount */
        
    }

    .tablehead th:nth-child(10), .tablebody td:nth-child(10) {
        width: 7%; /* Action */
    }





.uom, .quantity, .rate, .discount, .discountamount, .amount {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #111;
    background-color: var(--inputbox-color);
  
    border-radius: 5px;
    margin: 0;
    width: 100px;
    height: 4vh;
}
.deletebutton {
    border: none;
    border-radius: 2px;
    color: #111;
    font-size: 20px;
    background-color: none;
}

    .deletebutton:hover {
        color: red;
    }



/*last table part part*/
td {
    border: 1px;
    font-weight: 500 !important;
}
.remarks_td{
    margin-top:0;
}
.remarkstextarea {
    border: none;
    border-radius: 5px;
    background-color: #ECECEB;
    border: 1px solid #111;
    height: 15vh;
    width: 100%;
    resize: none;
}
.inwords_text_area input {
    width: 100%;

    height: 5vh;
    background-color: #ECECEB;
    border-radius: 5px;
    border: 1px solid #111;
}
.dueandpaid_amount_table{
    margin-left:-2.8%;
}
    .dueandpaid_amount_table input {
      
        width: 85%;
        background-color: #ECECEB;
        border: 1px solid #111;
        border-radius: 5px;
        margin-top: 2%;
    }
.dueandpaid_amount_table td{
    border:none;
}
.submitbuttondiv {
    margin-left: 1px;
}
    .submitbuttondiv input {
        width: 15%;
        border-radius: 5px;
        background-color: #ECECEB;
        border: 1px solid #111;
    }
.quantitytd {
    text-align: center;
    padding-left: 2vw !important;
}
.bottombilltable {
    width: 80vw;

    padding-top: -5vh;
}
.first_tr{
    border-top:none !important;
}
.bottombilltable tr, .rounded_off_td, .net_amt_td {
    border: 1px solid #a8a8a8;
    padding: -10px;
}
 .rounded_off_td, .net_amt_td {
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    
}
.remarks_nested_table input, .rounded_offtable input, .net_amt_table input, .paid_amt_table input, .gross_amt_table input {
    background-color: var(--inputbox-color) !important;
    border: 1px solid #111;
    border-radius: 5px;
  
}
.remarks_nested_table .vat_td {
    border-bottom: none;
}
.remarks_nested_table td{
    border-right:none;
}
.product_amt_td {
    border-top: none !important;
}
.gross_amt_tr {
    border-bottom: none !important;
    border-right: none !important;
}
.gross_amt_label{
   margin-right:0.7vw;
}

.net_amt_label {
    margin-right: 1.9vw;
}
.rounded_off_amt_label{
    margin-right:1.5vw;
}

.inwords_colon{
    padding-right:14px;
}
.in_words_label{
    margin-right:4.1vw;
   
}
label{
    font-weight:400!important;
}
td {
    height: 4.8vh;
    padding-left: 15px;
}
.due_amt_label {
    margin-left: -15px;
    margin-right:6px;
}





.submitbutton {
    background-color: #14AD5A;
    color: #fff;
    border: none;
    height: 4vh;
    width: 100%;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

