
.Vendorpage{
width:78vw;
margin-top:4%;
}


/*First col of form part stylings*/

/*For Blazoried components  stylings refer to app.css*/
.firstcol, .secondcol, .thirdcol, .fourthcol {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
   
    .firstcol .vendornamelabel {
        line-height: 2.2;
        font-weight: 500;
        width: 16vw;
    }


.addiconbtn {
    background-color: #0C2144;
    color:#fff;
    margin-left:-3px;
    width:4vw;
    border-radius: 0px 10px 10px 0px;
}
    .addiconbtn:hover {
        background-color: var(--inputbox-color);
       
        color: #111;
    }

.branchlabel {
    width: 10vw;
    line-height: 2.3;
    font-weight: 500;
}

.branchinput, .receiptypeselect {
    background-color: var(--inputbox-color);
    border: none;
    height: 5vh;
    border-radius: 10px;
    width: 100%;
}
.receiptypelabel {
    width: 10.5vw;
    line-height: 2.3;
    font-weight: 500;
}

.panvatlabel {
    line-height: 2.4;
    width: 8vw;
    font-weight: 500;
}
/*panvatinput is blazorized input component */

.invoicelabel {
    width: 8vw;
    line-height: 2.3;
    font-weight: 500;
}
.invoiceinput {
    background-color: var(--inputbox-color);
    border: none;
    height: 5vh;
    border-radius: 10px;
    width: 100%;
}

.billnolabel {
    width: 8vw;
    line-height: 2.3;
    font-weight: 500;
}
.billnoinput {
    background-color: var(--inputbox-color);
    border: none;
    height: 5vh;
    border-radius: 10px;
    width: 100%;
}

.issuedateadlabel, .duedateadlabel {
    width:7.5vw;
    line-height:1.2;
    font-weight:500;
}
.issuedateadinput, .duedateadinput {
    background-color: var(--inputbox-color);
    border: none;
    padding-left:5px;
    height: 5vh;
    border-radius: 10px;
    width: 100%;
}
.moplabel {
    width: 7.5vw;
    font-weight: 500;
    line-height:2.3;
}
.mopinput {
    background-color: var(--inputbox-color);
    border: none;
    padding-left: 5px;
    height: 5vh;
    border-radius: 10px;
    width: 100%;
}
.issuedatebslabel, .duedatebslabel {
    width: 8vw;
    line-height:1.1;
    font-weight: 500;
}
.issuedateclearbtn, .duedatebsbtn {
    background-color: #0C2144;
    color: #fff;
    margin-left: -3px;
    font-size:22px;
    width: 4vw;
    height:5.3vh;
    border:none;
    border-radius: 0px 10px 10px 0px;
}
    .issuedateclearbtn:hover, .duedatebsbtn:hover {
        background-color: red;
       border:none;
    }
.issuedatebsinput, .buedatebsinput {
    background-color: var(--inputbox-color);
    border: none;
    padding-left: 5px;
    height: 5vh;
    border-radius: 10px;
    width: 100%;
}
.addproductbtndiv{
    text-align:center;
}
.addproductbtn {
    border: none;
    background-color: #0C2144;
    border-radius: 5px;
    height: 4vh;
    width: 73%;
    margin-left:27%;
    text-align: center;
    color: #fff;
    padding-top: -5px !important;
}
/*Tab.le elements design*/
tr:nth-child(even) {
    background-color: #fff !important;
}
tr:nth-child(even):hover {
    background-color:  #f2f2f2 !important;
}
.tablehead th {
    background-color: #fff !important;
    border: none !important;
    font-weight:500;
    font-size:17px;
  
}
.deletebutton{
    background:none;
    border:none;
    font-size:22px;
    color:red;
    opacity:0.5;
}
    .deletebutton:hover{
        opacity:1;
    }
    .uom, .quantity, .unit, .rate, .discount, .discountamount, .amount {
        background-color: #ECECEB;
        width: 100% !important;
        border: none;
        border-radius: 5px;
        height: 4vh;
    }
.tablebody tr td{
    border:none !important;

 
}
/*.tablehead th {
    background-color: #c7d7db;
    border: none !important;
}


.uom, .quantity, .unit, .rate, .discount, .discountamount, .amount {
    background-color: #ECECEB;
    width: 40px !important;
    border: none;
    border-radius: 5px;
    height: 4vh;
}
.unit, .rate, .discount, .discountamount, .amount {
    width: 5vw !important;
}
.quantitytd{
    width:100px !important;
}
.deletebutton{
    border:none;
    border-radius:2px;
   color:#111;
   font-size:20px;
   background-color:none;
}

.deletebutton:hover{
    color:red;
}

*/
/*last table part part*/
td {
    border: 1px;
    font-weight: 500 !important;
}
.remarks_td{
    margin-top:0;
}
.remarkstextarea {
    border: none;
    border-radius: 5px;
    background-color: #f0f2f2;
    height: 15vh;
    width: 40vw;
    resize: none;
}
.quantitytd{
    text-align:center;
    padding-left:2vw !important;
}
.bottombilltable {
    width: 80vw;
    margin-left: -1vw;
    padding-top: -5vh;
}
.first_tr{
    border-top:none !important;
}
.bottombilltable tr, .rounded_off_td, .net_amt_td, .parid_amt_td {
    border: 2px solid #c7d7db;
    padding: -10px;
}
.remarks_nested_table tr, .rounded_off_td, .net_amt_td, .parid_amt_td {
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    
}
.gross_amt_tr {
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
}
.gross_amt_label{
   margin-right:1vw;
}
.rounded_off_amt_label {
    margin-right: 1.7vw;
}
 .net_amt_label{
     margin-right:1.9vw;
 }
.paid_amt_label{
    margin-right:1.6vw;
}
.inwords_colon{
    padding-right:14px;
}
.in_words_label{
    margin-right:4.1vw;
}
td {
   
    height: 4.8vh;
    padding-left: 15px;
}
.due_amt_label {
    margin-left: -15px;
    margin-right:20px;
}



   

.submitbutton{
    background-color:#082248;
    color:#fff;
    border:none;
    height:5vh;
    width:8vw;
    border-radius:10px;
    font-weight:400;
    font-size:18px;
    text-transform:uppercase;
    letter-spacing:1px;

   
}
.submitbuttondiv{
    margin-top:3px;
    text-align:right;

}
