@inherits LayoutComponentBase
@using TheHighInnovation.POS.Web.Models

@inject NavigationManager NavigationManager

@if (!(NavigationManager.Uri.Contains("/cashier-corner") || NavigationManager.Uri.Contains("/login")))
{
    <div class="footer" style="position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
padding-left:75%;
height:20px;
   background-color: #d9d9d9;
font-weight:500;
font-size:12px;
   color: #000;
z-index:999;">
        <div class="d-flex">
            <p class="mx-1">@_globalState.CompanyName</p>
            <p class="mx-1">  | </p>
            <p class="mx-1"><i class="fa fa-copyright" aria-hidden="true"></i> Copyright@2024 The HighInnovations Pvt.Ltd</p>
        </div>
    </div>
}

@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
}


