@using TheHighInnovation.POS.Web.Services.Base

@inject NavigationManager NavManager;
@inject BaseService BaseService;

<nav class="flex-column verticalnav">

	@if (_globalState is { RoleType: 0, OrganizationId: null })
	{
		<div class="nav-item px-3 navedit">
			<NavLink class="nav-link" href="module" Match="NavLinkMatch.All">
				<i class="fa-brands fa-dailymotion"></i> &nbsp; Module
			</NavLink>
		</div>
		<div class="nav-item px-3 navedit">
			<NavLink class="nav-link" href="service" Match="NavLinkMatch.All">
				<i class="fa-brands fa-servicestack"></i> &nbsp; Service
			</NavLink>
		</div>
		<div class="nav-item px-3 navedit">
			<NavLink class="nav-link" href="organization" Match="NavLinkMatch.All">
				<i class="fa-solid fa-building-ngo"></i> &nbsp; Organization
			</NavLink>
		</div>
		<div class="nav-item px-3 navedit">
			<NavLink class="nav-link" href="company" Match="NavLinkMatch.All">
				<i class="fa-solid fa-building"></i> &nbsp; Company
			</NavLink>
		</div>
		<div class="nav-item px-3 navedit">
			<NavLink class="nav-link" href="role" Match="NavLinkMatch.All">
				<i class="fa-solid fa-person-burst"></i> &nbsp; Role
			</NavLink>
		</div>
	}


	
	@if (NavManager.Uri.Contains("/vendor") || NavManager.Uri.Contains("/inventory-category") || NavManager.Uri.Contains("/inventory-unit")
			|| NavManager.Uri.Contains("/product-service") || NavManager.Uri.Contains("/productmanagement") ||
			NavManager.Uri.Contains("/kharidkhata") || NavManager.Uri.Contains("/bikrikhata"))
	{
		<div class="nav-item px-3 navedit">
			<NavLink class="nav-link" href="vendor" Match="NavLinkMatch.All">
				<i class="fa-solid fa-list"></i> &nbsp; Vendor
			</NavLink>
		</div>

		<div class="nav-item px-3 navedit navdropdown">
			<button class="dropdown-btn d-flex" @onclick="ToggleDropdown">
				<i class="fa fa-product-hunt" aria-hidden="true"></i> &nbsp; Product Master

				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-container dropdownpart" style="@(_isDropdownOpen ? "display:block;" : "display:none;")">
				<span class="d-flex productlink">
					<NavLink class="nav-link dropdownlink" href="inventory-category" Match="NavLinkMatch.All"><s class="linecut">&ensp;&ensp;</s>Category</NavLink>
				</span>
				<span class="d-flex productlink">
					<NavLink class="nav-link dropdownlink" href="inventory-unit" Match="NavLinkMatch.All"><s class="linecut">&ensp;&ensp;</s>Unit</NavLink>
				</span>
				<span class="d-flex productlink">
					<NavLink class="nav-link dropdownlink" href="product-service" Match="NavLinkMatch.All"><s class="linecut">&ensp;&ensp;</s>Product</NavLink>
				</span>
				<span class="d-flex productlink">
					<NavLink class="nav-link dropdownlink" href="productmanagement" Match="NavLinkMatch.All"><s class="linecut">&ensp;&ensp;</s>Purchase Receipt</NavLink>
				</span>
				<span class="d-flex productlink">
					<NavLink class="nav-link dropdownlink" href="kharidkhata" Match="NavLinkMatch.All"><s class="linecut">&ensp;&ensp;</s>Kharid Khata</NavLink>
				</span>
				<span class="d-flex productlink">
					<NavLink class="nav-link dropdownlink" href="bikrikhata" Match="NavLinkMatch.All"><s class="linecut">&ensp;&ensp;</s>Bikri Khata</NavLink>
				</span>
				<span class="d-flex productlink lastproductlink">
					<NavLink class="nav-link dropdownlink" href="inventoryrecords" Match="NavLinkMatch.All"><s class="linecut">&ensp;&ensp;</s>Purchase Receipt Record</NavLink>
				</span>

				<span class="d-flex productlink lastproductlink">
					<NavLink class="nav-link dropdownlink" href="safe-drop-report" Match="NavLinkMatch.All"><s class="linecut">&ensp;&ensp;</s>Safe Drop Report</NavLink>
				</span>
				<span class="d-flex productlink lastproductlink">
					<NavLink class="nav-link dropdownlink" href="void-report" Match="NavLinkMatch.All"><s class="linecut">&ensp;&ensp;</s>Void Report</NavLink>
				</span>
				<span class="d-flex productlink lastproductlink">
					<NavLink class="nav-link dropdownlink" href="lock-report" Match="NavLinkMatch.All"><s class="linecut">&ensp;&ensp;</s>Lock Report</NavLink>
				</span>
				<span class="d-flex productlink lastproductlink">
					<NavLink class="nav-link dropdownlink" href="petty-cash-report" Match="NavLinkMatch.All"><s class="linecut">&ensp;&ensp;</s>Petty Cash Report</NavLink>
				</span>
			</div>
		</div>
	}

	
	
	@if (NavManager.Uri.Contains("/category") || NavManager.Uri.Contains("/product") || NavManager.Uri.Contains("/employees"))
	{
		<div class="nav-item px-3 navedit">
			<NavLink class="nav-link" href="category" Match="NavLinkMatch.All">
				<i class="fa-solid fa-list"></i> &nbsp; Categories
			</NavLink>
		</div>
		<div class="nav-item px-3 navedit">
			<NavLink class="nav-link" href="product" Match="NavLinkMatch.All">
				<i class="fa-solid fa-icons"></i> &nbsp; Products
			</NavLink>
		</div>
		<div class="nav-item px-3 navedit">
			<NavLink class="nav-link" href="employees" Match="NavLinkMatch.All">
				<i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp; Employees
			</NavLink>
		</div>
		<div class="nav-item px-3 navedit">
			<span @onclick="LogoutHandler">
				<i class="fa-solid fa-right-from-bracket"></i> &nbsp; Logout
			</span>
		</div>
	}
</nav>


