body {
    font-family: Arial, sans-serif;
    background-color: #e7eff6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.closeaddproductpagebutton{
    background:none;
    border:none;
    font-size:28px;
    margin-top:-2vw;
    margin-left:80%;
    font-weight:600;
}
.form-container {
    background-color: #f1f4f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 600px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: calc(100% - 40px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e0e0e0;
}

.unit-input {
    display: flex;
    align-items: center;
}

.unit-input input[type="text"] {
    width: calc(100% - 40px);
}

.add-btn {
    width: 30px;
    height: 30px;
    background-color: #ffc107;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    margin-left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.add-sku-btn {
    background-color: #001f54;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-btn {
    background-color: #ffc107;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-sku-btn:hover,
.save-btn:hover {
    opacity: 0.9;
}
.categorydescription, .categoryname {
    font-size:16px;
}
.categorydescriptioninput{
    background-color:#d9d9d9;
    height:10vh;
    width:25vw;
    border:none;
    border-radius:5px;
}
.plusbutton{
    border:none;
    margin-top:4vh;
    height:6vh;
    width:3vw;
    margin-left:-4vw;
    font-size:24px;
}