
.landingpage {
    margin-top: 3%;
        
    padding-bottom: -1vh;
    width: 99%;
   
}
/* ----------------------------------------------------------------------------left part----------------------------------------------------------------------------  */
.maincard1 {
    border: none;
    align-items: center;
    height: 100%;
    width: 105%;
    margin-left: -5%;
}

.but.selected {
    background-color: red;
    color: white; 
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
    background-color: #fff;
}

.showholdtablemodel {
    display: block;
    background-color: rgba(10,10,10,.8);
}

::-webkit-scrollbar-thumb {
    background-color: #afafaf;
    border-radius: 4px;
}

.tableedit {
    font-size: 14px;
    width: 100%;
    height: 51vh;
    margin-top: 3%;
    background-color: var(--cashier-corner-billtable-color);
    overflow-y: scroll;
}

    .tableedit table {
        width: 97.5%;
    }




.Invoice th {
    position: sticky;
    top: 0;
    background-color: #082248;
    z-index: 10;
}

.Invoice th, .Invoice td {
    text-align: left;
    padding: 8px;
}

.Invoice td {
    border: 1px solid #111;
}

.tableedit thead th {
    padding: 0 0.5vh 0 0.5vh;
    width: 20%;
}

.tableedit td {
    padding: 1%;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.tableedit thead {
    background-color: #082248;
    color: #fff;
    height: 5vh;
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-bottom: 3%;
}

    .tableedit thead .th1 {
        border-radius: 0px;
    }

    .tableedit thead .th4 {
        border-radius: 0px;
    }

.tableedit .selectbtn {
    font-size: 10px;
    font-weight: 400;
    border-width: 1px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.invoicebutton {
    margin-top: 7%;
    margin-bottom: 7%;
    text-align: center;
}




    .invoicebutton button {
        background-color: var(--our--commonblue-color);
        color: #fff;
        font-size: 36px;
        border: none;
        height: 8vh;
        border-radius: 1vh;
        width: 22%;
        text-align: center;
    }

    .invoicebutton .btn1 {
        margin-right: 10%;
    }

    .invoicebutton .btn2 {
        margin-left: 10%;
    }

.maincard1 .invoicetable {
    background-color: #fff;
    border-radius: 0 0 1.6vh 1.6vh;
    width: 100%;
    border: 1px solid #111;
    border-top: none;
    height: 25%;
    font-weight: 300;
    padding-right: 5%;
    margin-bottom: 2vh;
}

    .maincard1 .invoicetable table {
        width: 99%;
        height: 100%;
        margin-left: 5%;
    }


        .maincard1 .invoicetable table tbody th {
            font-size: 12px;
            font-weight: 500;
        }

        .maincard1 .invoicetable table tbody td {
            font-size: 12px;
        }
/* ----------------------------------------------------------------------------middle part ------------------------------------------------------------------------------*/
.maincard2 {
    border: none;
    align-items: center;
    height: 100%;
    /*margin-left:-1.5%;*/
}


#goback {
    font-size: 28px;
    width: 100%;
    color: #04AED3;
}


.cardstyle {
    width: 20%;
    height: 15vh;
    border-radius: 3.2vh;
    margin: 2%;
    padding: 0;
    line-height: 1.5em;
    text-align: center;
}

    .cardstyle .card-text {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 3em;
        padding-right: 9px;
        padding-left: 5px;
        padding-bottom: 3px;
        line-height: 16px;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 14px;
        padding-top: 5px;
    }

.holdbuttoninsidehold {
    background-color: #107a47;
    border: none;
    color: white;
    height: 20vh;
    width: 20vh;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 4vh;
}

.selectbutton {
    background-color: #082248;
    height: 5vh;
    width: 15vh;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
}

tfoot {
    position: sticky;
    bottom: 0;
    background-color: white; /* Adjust as needed */
}

.Printtokitchen {
    background-color: #082248;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: none;
    color: white;
    height: 20vh;
    width: 20vh;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 4vh;
}


.cardstyle img {
    width: 100%;
    height: 10vh;
    border-radius: 3.2vh 3.2vh 0vh 0vh;
}

.cardstar {
    text-align: left;
    font-size: 2.5vh;
    color: #C0653A;
    position: absolute;
}

.productpart {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 37vh;
    width: 86vh;
}

    .productpart::-webkit-scrollbar {
        width: 8px;
    }

    .productpart::-webkit-scrollbar-track {
        background: #d9d9d9;
    }






.functionpart {
    margin-left: 3%;
    margin-top: 15.5%;
}

.functionbutton {
    height: 11.5vh;
    width: 13vh;
    font-size: 9px;
    margin: 1.3%;
    border-radius: 2vh;
    border: none;
    background-color: var(--our--functionbutton-color);
    color: #111;
    text-align: center;
    position: relative;
}


.functionpartfirstrow .functionbutton {
    margin-left: 27px;
}

.joineddisbtn {
    display: flex;
    flex-direction: column;
}

.lockbutton {
    margin-left: 20px !important;
}

.joineddisbtn .functionbutton {
    margin-left: 9%;
}

.discountpriceimage {
    width: 30px;
}

.discountbyprice .functionbutton {
    margin-top: -0.5vh;
    font-size: 16px;
    border-radius: 0 0 2vh 2vh;
    height: 5.75vh;
    border-top: 1px solid #082248;
}

    .discountbyprice .functionbutton .buttonicons {
        font-size: 18px;
        text-align: center;
    }

.discountbypercentage .functionbutton {
    height: 6.25vh;
    border-radius: 2vh 2vh 0 0 !important;
    font-size: 16px;
}

    .discountbypercentage .functionbutton .buttonicons {
        font-size: 18px;
        text-align: center;
    }

.functionbutton .holdbadge {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border: 2px solid #000;
    padding: 2px 7px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 50%;
}


    .functionbutton .holdbadge.holdbadgehotel {
        padding: 1px 5px;
        font-size: 9px;
    }

.buttonicons {
    font-size: 6vh;
    text-align: center;
}

.safedropbuttonsdiv {
    width: 72vw;
}

.modalsafedrop, .modalsafedropbtntotamt {
    text-align: center;
    width: 90%;
    background-color: #ABBFE0;
    border: none;
    border-radius: 10px;
    height: 6vh;
    margin-left: 5%;
    margin-top: 5% !important;
    font-size: 18px;
}

.modalsafedropbtntotamt {
    background-color: #14AD5A;
    color: #fff;
}


.modalsafedrophead {
    font-weight: 500;
    margin-bottom: 2vh;
    letter-spacing: 5px;
}


.modal-header p {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    width: 100%;
    font-weight: 600;
}

.booktable {
    height: 90px;
    width: 90px;
    margin-bottom: 30px;
    position: relative;
    margin-bottom: 15%;
}

.holdtable {
    position: relative;
    color: black;
}

.tableno {
    position: absolute;
    top: 22%;
    left: 27% !important;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.reservationcard {
    width: 20vh;
    text-align: center;
}

.customername {
    padding-left: 5px !important;
    font-weight: 500;
    line-height: 0;
}

.image-text-table {
    position: absolute;
    top: 26%;
    left: 30%;
    font-size: 20px;
    color: #fff;
    letter-spacing: 3px;
}


.image-text-door.doubledigit {
    left: 27%;
}

.maincard3 .dotabhovecancel {
    height: 10vh;
    width: 90%;
    border: 1px solid #111;
    margin-top: 0;
    background-color: #f0f0f0;
    color: #082248;
    border-radius: 10px;
    font-size: 24px;
    line-height: 0;
    font-weight: 800;
}

.holdroom {
    height: 100%;
    position: relative;
}

.booktablegroup {
    width: 100%;
}

    .booktablegroup::-webkit-scrollbar {
        display: none;
    }

.holdroom img {
    height: 90px;
    width: 140px;
    margin-bottom: 15%;
    margin-left: -4vh;
}

.safedropmaincard2 {
    margin: -1% 0 0 -7.5% !important;
    background-color: #ECECEB;
    border-radius: 0px;
    width: 115%;
    height: 100%;
    padding-left: 10%;
}

.safedropcard {
    border: none;
    align-items: center;
    height: 100%;
}

.safedroptable {
    border: 1px solid #111;
    width: 71vw;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
}

    .safedroptable tr:nth-child(even) {
        background-color: #fff;
    }

    .safedroptable tr {
        border-bottom: 1px solid #625543 !important;
        height: 7vh;
    }

    .safedroptable input {
        border: none;
        border-radius: 5px;
        height: 4vh;
        text-align: center;
        width: 12vw;
        background-color: #ECECEB;
    }

.safedropinput {
    width: 30vw;
    height: 5vh;
    font-size: 22px;
    font-weight: 400;
    border-width: 1px;
    background-color: white;
    text-align: center;
    width: 25vw;
    border-radius: 5px;
}

.closesearch {
    text-align: left;
    color: #04AED3;
    font-size: 28px;
}


.gobacksafedrop {
    margin-top: 1vh;
    border-radius: 1vh 1vh 0vh 0vh;
    font-size: 4vh;
    color: #04AED3;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

#closesafedrop {
    margin-top: 2vh;
}


#closetilltab {
    text-align: left;
    width: 100%;
    height: 100%;
}

.closetillcard {
    width: 70%;
    margin-top: 15%;
    background-color: var(--our--modal-background-color);
    height: 31%;
}

#gobackclosetill {
    margin-left: -7vw !important;
    border-radius: 1vh 1vh 0vh 0vh;
    font-size: 4vh;
    color: #04AED3;
    width: 90%;
}

.closetillcard .cardheadclosetill {
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 2%;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.cardheadclosetill .title {
    font-weight: 600;
    margin-left: 35%;
}

.inputpart {
    padding-left: 10px;
}

    .inputpart .enteramt {
        font-size: 18px !important;
    }

    .inputpart .cardinput {
        width: 98%;
        height: 7vh;
        border-radius: 10px;
        border: none;
        padding-left: 10px;
        margin-top: 0%;
    }

.closetillcard .cardbtngroup {
    margin-top: 4%;
    margin-bottom: auto;
    margin-left: 6%;
}

    .closetillcard .cardbtngroup .closetillbuttons {
        background-color: rgba(255, 255, 255, 1);
        height: 5vh;
        border-radius: 10px;
        border: none !important;
        color: #111;
        font-weight: 500;
        font-size: 18px;
        width: 85%;
    }


.searchtabinput {
    width: 80%;
    margin: 5vh;
    height: 5vh;
    border: 2px solid #dcdfe8;
    border-radius: 1vh;
}

.maincard2 {
    margin-top: 2vh;
}
/* -------------------------------------------------------------------------------------right part------------------------------------------------------------------------------------------------------------- */
.maincard3 {
    border: none;
    align-items: center;
    height: 101%;
    margin-bottom: -2vh;
    margin-top: -2.5%;
    margin-left: 3%;
    width: 112%;
    border-left: 2px solid #111;
    border-radius: 0px;
}

    .maincard3 form {
        width: 95%;
        margin-top: 2vh;
        margin-bottom: 6.6%;
    }

.form1 {
}

.maincard3 input {
    background-color: #f0f0f0;
    border: none;
    border-radius: 9px;
    margin: 3% 1% 3% 1%;
    width: 30%;
    height: 11vh;
    border: 1px solid #111;
    font-size: 22px;
    font-weight: 500;
    color: #111;
}



.calcbuttongroup {
    margin-bottom: 1%;
    margin-left: 1%;
}

.enterbutton {
    width: 125%;
    height: 10vh;
    border: 1px solid #111;
    background: #f0f0f0;
    border-radius: 10px;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 0;
    margin-left: -1.3vw;
}



.enterbuttongroup {
    width: 100%;
}




.tendericon {
}

.cancelbutton, .tenderbutton {
    background: var(--our--calculatorcancel-color);
    color: #000;
    height: 8vh;
    width: 95%;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    letter-spacing: 1px;
    color: #fff;
    line-height: 0;
}

.calcbuttons {
    padding: 15px;
}

.tenderbutton {
    background-color: var(--our--calculatortender-color);
    margin-left: -15px;
    width: 105%;
}

#calc {
    width: 99%;
    height: 10vh;
    margin-top: 3%;
    margin-bottom: -1vh;
    border: 1px solid #111;
    background-color: #fff;
    border-radius: 15px;
}


#cash {
    margin-top: 4.3%;
}



    #cash .backarrow {
        color: aqua;
        font-size: 28px;
        margin-top: 2vh;
    }


    #cash .customername {
        font-size: 30px;
        font-family: "Quicksand", sans-serif;
    }

    #cash .customer {
        font-family: "Quicksand", sans-serif;
        font-size: 30px;
    }

    #cash .billtable {
        border: 2px solid #111 !important;
        border-top: none !important;
        border-radius: 0 0 10px 10px;
        padding: 3px;
        width: 80%;
        margin-left: 10% !important;
        margin-top: 20%;
    }

.billtable table {
    width: 100%;
}

.billtable tr:nth-child(odd) {
    background-color: #f2f2f2;
}



#cash .billtable table td {
    border: 1px solid #fff;
    width: 50%;
    padding: 2vh;
    padding-left: 40px;
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
}

#cash .maincard3 {
    margin-left: -3%;
    width: 100%;
    padding-left: 7%;
}

/* tab content cash right part */
/* #cash .maincard3 {
            background-color: #D9D9D9;
            border: none;
            height: 100%;
            width: 100%;
            margin-top: 4%;
            margin-left: 6%;
        }

        #cash .tenderbutton {
            width: 100%;
            height: 15vh;
            background: #FFD457;
            color: #082248;
            border: none;
            border-radius: 10px;
            margin-top: 1vh;
            font-size: 2px;
            font-weight: 500;
        }


        #cash .enterbutton {
            width: 100%;
            height: 15vh;
            margin-top: auto;
            font-size: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            letter-spacing: 2px;
        }

            #cash .enterbutton .tendericon {
                font-size: 10vh;
            }
    */
.maincard3 form {
    width: 100%;
    text-align: center;
}
/*
    #cash .maincard3 input {
        background-color: #f0f0f0;
        border: none;
        border-radius: 9px;
        margin: 2% 2% 2% 2%;
        width: 28%;
        font-size: 18px;
    }

    #cash #calc {
        width: 90%;
        margin-left: 5%;
        height: 10vh;
        margin-top: 3%;
        border: none;
        background-color: #fff;
        border-radius: 15px;
    }

    #cash .calcbuttongroup {
        margin-top: 10%;
    }
    */
.yesnobutton {
    border: none;
    width: 40%;
    height: 12vh;
    border-radius: 10px;
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 26px;
    color: #fff;
    line-height: 32px;
}

    .yesnobutton.yes {
        background-color: #28a745;
        margin-right: 10%;
    }

    .yesnobutton.no {
        background-color: red;
        margin-left: 35%;
        padding-top: 4px;
    }

    .yesnobutton .fa-check {
        font-size: 52px;
    }

    .yesnobutton .fa-ban {
        font-size: 52px;
    }

.nobutton {
    border: none;
    width: 60%;
    height: 10vh;
    border-radius: 10px;
    margin-bottom: 10%;
    font-size: 26px;
    color: #fff;
    line-height: 1;
}

    .nobutton .fa-ban {
        font-size: 46px;
    }

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------------------------------------------CARD CONTENTS-------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#card {
    margin-top: 4.3%;
}

    #card .backarrow {
        color: aqua;
        font-size: 28px;
        margin-top: 2vh;
    }

    #card .customer {
        font-family: "Quicksand", sans-serif;
        font-size: 28px;
    }

    #card .tenderbutton {
        background-color: #ffd457;
        color: #fff;
        border: none;
        border-radius: 1vh;
        width: 50%;
        margin-left: 1.5vh;
        /*        margin-top: 15%;*/
        text-align: center;
        height: 72%;
        font-size: 10vh;
    }

    #card .tender {
        font-size: 20px;
        letter-spacing: 3px;
        color: #000;
        margin-top: 5%;
        color: #082248;
        font-weight: 500;
        margin-bottom: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*   #card .calcbuttons {
        margin-top: 40vh;
        margin-left: 5vh;
    }*/

    #card .cardscard {
        height: 40vh;
        width: 100%;
        margin-top: 5vh;
        font-family: "Quicksand", sans-serif;
        font-size: 7vh;
        border-top: none;
        border-right: none;
        border-left: none;
        justify-content: center;
        text-align: center;
        border-radius: 0;
    }


    #card .backarrow {
        font-size: 28px;
        margin-top: 2vh;
    }





    #card .tenderbutton {
        background-color: #14AD5A;
        color: #FFFFFF;
        border: none;
        border-radius: 1vh;
        width: 96%;
        height: 70px;
        text-align: center;
        font-size: 32px;
        font-weight: 400;
        margin-top: 24vh;
    }

    #card .tender {
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        letter-spacing: 3px;
        margin-top: 10px;
        color: #FFFFFF;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    #card .cardscard {
        width: 75%;
        margin-top: 30vh;
        font-family: "Quicksand", sans-serif;
        font-size: 24px;
        font-weight: 400;
        justify-content: center;
        text-align: center;
        border: 1px solid #0C2144;
        border-top: none;
        height: 7vh;
        margin-left: 11%;
        border-radius: 0 0 5px 5px;
        background-color: #ECECEB;
        /*  padding-top:10px;*/
    }

        #card .cardscard p {
            padding: 10px;
            margin-top: 10px;
        }

    #card .calcbuttons img {
        margin-top: 22vh;
        padding: 10px;
        width: 97%;
    }


    #card .card-right {
        width: 120% !important;
    }

    #card .cardrighttop {
        background-color: #ECECEB !important;
        height: 93.5vh;
    }

    #card .cardscard .card-amount {
        display: flex;
        gap: 40%;
    }

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------------------------------------------QR CONTENTS-------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#qr {
    margin-top: 4.3%;
}

    #qr .scantopay {
        font-family: "Quicksand", sans-serif;
    }

    #qr .backarrow {
        color: aqua;
        font-size: 28px;
        margin-top: 2vh;
    }

    #qr .customer {
        font-size: 30px;
        font-family: "Quicksand", sans-serif;
    }

    #qr .scantopay {
        font-size: 30px;
        font-family: "Quicksand", sans-serif;
    }

    #qr .qrcode {
        width: 20%;
        /*   margin-left: 25%;
        margin-top: 5%;*/
    }

    #qr .qrrightcard {
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-radius: 0px;
        height: 100%;
        /*     margin-top: 1.5%;*/
        margin-left: 3.6vh;
        margin-right: -3.6vh;
    }

    #qr .calcbuttons {
        margin-top: 28%;
        margin-left: 6%;
    }



    /*    #qr .tendericon {
        font-size: 10vh;
        margin-top: -14px;
    }*/

    #qr .tender {
        font-size: 20px;
        letter-spacing: 3px;
        color: #000;
        color: #082248;
        font-weight: 500;
        margin-bottom: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

#qr {
    margin-top: 4.3%;
}

    #qr .scantopay {
        font-family: "Quicksand", sans-serif;
    }

    #qr .qramount {
        color: #ffd457;
        font-family: "Quicksand", sans-serif;
        font-family: "Quicksand", sans-serif;
        font-size: 48px;
        margin-top: 10px;
        text-align: center;
    }

    #qr .backarrow {
        font-size: 24px;
        margin-top: 2vh;
    }

    #qr .customer {
        font-family: "Quicksand", sans-serif;
        font-size: 3vh;
    }

.splitbutton {
    height: 17.5% !important;
}


#qr .qrcode {
    width: 100%;
    margin-top: 40%;
    height: 70%;
}

#qr .qrrightcard {
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 0px;
    height: 93.5vh;
    /*    margin-right: -2vw !important;*/
    background-color: #ECECEB;
}




#qr .tenderbutton {
    background-color: #14AD5A;
    color: #FFFFFF;
    border: none;
    border-radius: 1vh;
    width: 96%;
    height: 70px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    /*  margin-top: 15vh;*/
}

#qr .tender {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#qr .qrsqr {
    height: 7vh;
    width: 75%;
    margin-top: 30vh;
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    border: none;
    margin-left: 11%;
}



#qr .qramount {
    color: #ffd457;
    font-family: "Quicksand", sans-serif;
    font-size: 48px;
    margin-top: 10px;
    text-align: center;
}

#qr .qrsqr .qr-amount {
    display: flex;
    gap: 30%;
}

#qr .qrsqr p {
    border-width: 0px 1px 1px 1px;
    padding: 10px;
}

#qr .qrsqr {
    background-color: #ECECEB;
    border: 1px solid #0C2144;
    border-radius: 0 0 5px 5px;
    border-top: none;
}


.cashpage {
    overflow: hidden;
    width: 100.87vw;
    border: none;
    margin: -2.6vh -2.6vh 0 -3.4vh;
    margin-right: 0;
}


/*----------------------------------------------------------------------------------------------------------- navbar----------------------------------------------------------------------------------------------------------------------------------------------- */
.tab-cont {
    background-color: var(--cashier-corner-billtable-color);
    height: 93vh;
    margin-top: 3.7%;
    border-right: 1px solid #082248;
}

    .tab-cont button {
        width: 112%;
        margin-left: -5.5%;
        height: 16.53%;
    }

.cashpage .cardicon {
    font-size: 7vh;
}

.cashpage .cashicon {
    font-size: 7vh;
}

.cashpage .splitbutton {
    font-size: 7vh;
}

.cashpage .qricon {
    font-size: 7vh;
}

.cashpage .qricon {
    font-size: 7vh;
}

.cashpage .customericon {
    font-size: 7vh;
}

.cashpage .remarkicon {
    font-size: 7vh;
}

.cashpage .navtext {
    font-weight: 200;
    font-size: 2.5vh;
    line-height: 2.5vh;
}

.cashpage .cashnavtext {
    margin-top: -0.8vh;
}

.cashpage.cardnavtext {
    margin-top: -1vh;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------------------------------------------CUSTOMER CONTENT-------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */




/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------------------------------------------Split CONTENT-------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#customer {
    margin-top: 4.3%;
}

    #customer .backarrow {
        color: aqua;
        font-size: 28px;
        margin-top: 2vh;
    }


    #customer .customernamesearch {
        display: flex;
        width: 70%;
        height: 6vh;
        margin-top: 2vh;
        border-radius: 15px;
        border: 3px solid #dcdfe8;
        background: #fff;
    }


    #customer .addcustomerbutton {
        display: inline-flex;
        border-radius: 10px;
        background-color: #082248;
        margin-top: 2vh;
        color: #fff;
        margin-left: 3vh;
        border: none;
        text-align: center;
        height: 5vh;
    }

    #customer .selectcustomerbtn {
        border-radius: 10px;
        background-color: #082248;
        color: #fff;
        margin-left: 2vw;
        border: none;
        text-align: center;
        height: 6vh;
    }

.table-responsive {
    margin-top: 3%;
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        background-color: #343a40;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        position: sticky;
        top: 0;
        z-index: 1;
        font-size: 16px;
        font-weight: 500;
    }

    .table tbody {
        display: block;
        max-height: 60vh;
        overflow-y: scroll;
    }

        .table thead, .table tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

.btn-selected {
    background-color: #ab372c !important;
    border: none;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
    }

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

#customer .addcustomerhead {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

#customer .belowaddcusline {
    color: black;
    height: 2px;
}

#customer .sticknameandinput {
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 0;
    font-family: 'Cascadia Code';
}

#customer select {
    width: 55%;
    height: 5vh;
    border-radius: 10px;
    margin-top: 3%;
}

#customer .addcustomerinputs {
    border: none;
    background-color: #d9d9d9;
    height: 25%;
    border-radius: 6px;
    width: 70%;
}

#customer .customercancel {
    width: 25%;
    height: 6vh;
    border: none;
    font-size: 18px;
    letter-spacing: 5px;
    border-radius: 10px;
    background-color: #ffd457;
}

#customer .customersubmit {
    width: 25%;
    height: 6vh;
    margin-left: 18%;
    border: none;
    font-size: 18px;
    letter-spacing: 5px;
    border-radius: 10px;
    background-color: #ffd457;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------------------------------------------REMARKS CONTENT-------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
#remarks {
    margin-top: 4.3%;
}

    #remarks .backarrow {
        color: #111;
        font-size: 24px;
        margin-top: 2vh;
    }

    #remarks .remarkstext {
        font-family: "Quicksand", sans-serif;
        font-size: 22px;
        font-weight: 300;
        margin-left: 4vw;
    }

    #remarks .remarkscard {
        width: 60vw;
        height: 50vh;
        background-color: #f0f0f0;
        border: none;
        border-radius: 2px;
        overflow: scroll;
    }

.remarkscard::-webkit-scrollbar {
    display: none !important;
}

#remarks input[type=checkbox] {
    margin: 2vh;
    width: 30px;
    height: 30px;
    justify-content: center;
    border-color: red;
    vertical-align: middle;
    font-size: 8px;
}


#remarks .remarksbuttonsdiv {
    text-align: right;
}

    #remarks .remarksbuttonsdiv .remarksproceedbutton, #remarks .remarksbuttonsdiv .remarkscancelbutton {
        width: 187px;
        height: 8vh;
        border: none;
        border-radius: 7px;
        margin-right: 10px;
        font-size: 20px;
        color: #fff;
    }

    #remarks .remarksbuttonsdiv .remarksproceedbutton {
        background-color: var(--our--calculatortender-color);
    }

    #remarks .remarksbuttonsdiv .remarkscancelbutton {
        background-color: var(--our--calculatorcancel-color);
    }

.selectors {
    font-size: 20px;
}
