 .clearbuttond {
    border: none;
    border-radius: 10px;
    margin-top: 3%;
    font-size: 18px;
}



.filter-section {
    border: none;
    width: 96%;
    margin-left: 2%;
}

.required, .filterby {
    letter-spacing: 3px;
    font-weight: 500;
}

.required {
    font-size: 12px;
}

.filterby {
    font-size: 18px;
    color: #111;
}

.categorypage {
    margin-top: 4%;

    height: 90.5vh;
    padding-bottom: 2vh;
}

.form-select {
    border: none;
    width: 40%;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.toppart{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}
.topheading{
    font-size:30px;
}
.addcatogerybtn {
    border: none;
    border-radius: 10px;
    background-color: #ABBFE0;
    color: #000000;
    height:50px;
    width: 35%;
    font-size:18px;
    font-weight:400;
}
.buttonadd{
    text-align:end;
}


.searchdiv{
    display:flex;
}


.inputsearch {
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius:10px 0 0 10px;
    background-color: #ECECEB;
    width: 400px;
    height:45px;
}
.searchbutton {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #0C2144;
    color: #ffffff;
    width: 45px;
    height: 45px;
}
.clearbuttond {
    background-color: red;
    color: #fff;
    font-weight: 600;
    width: 50px;
}

.showentries, .selectcompany {
    border: none;
    border-radius: 5px;
    color: #111;
    margin-top: 1.5vh;
}

.showentries {
    width: 50px;
    margin-right: 15px;
}


.selectcompany {
    width: 3vw;
    background-color: #d9d9d9;
    height: 4vh;
}

.textshow {
    font-size: 16px;
    margin-right: 5px;
}



.selecttext, .searchtext {
    font-size: 16px;
}

.selecttext {
    margin-right: 10px;
}

.selectcategory, .searchinput, .tablediv {
    border-radius: 10px;
    border: none;
}


.searchinput {
    border: 1px solid #dcdfe8;
    height: 30px;
    width: 200px;
}


.table thead, .tablediv thead th {
    font-size: 16px;
    font-weight: 500;
    color: #110a57;
}

.tablediv {
    
    border:2px solid #dcdcdc;
    margin-top: 2%;
}
.table thead{
    border-bottom:2px solid #dcdcdc;
}

.tablediv thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

    .tablediv tbody {
        display: block;
        max-height: 50vh;
        overflow-y: scroll;
    }

        .tablediv thead, .tablediv tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

            .tablediv tbody tr:hover {
                background-color: var(--tablehead-background);
            }

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

.table .th1, .table .th6 {
    border-radius: 10px 0 0 0;
}

.table .th6 {
    border-radius: 0 10px 0 0;
    text-align:center;
    
}
.lasttd{
    text-align:center;
}


.color-palette {
    display: flex;
    gap: 10px;
}

.color-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

    .color-option:hover {
        border-color: #000;
    }

    .color-option i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;
    }

.paginationpart{
    margin-top:20px;
}
