.heading2 {
    padding: 10px;
    background-color: #d9d9d9;
    margin-bottom:2%;
    width: 100%;
    border-radius: 10px;
}e
.fa-barcode{
    font-size:4vh;
   padding:15px;
    margin-left:2%;

}