.unitpage {
    margin-top: 3%;
/*    overflow:hidden;
    position:fixed;*/
}
.unit-head{
    text-align:start;
}

.buttondiv{
    text-align:right;
}
.addbutton {
    border: none;
    border-radius: 5px;
    background-color: #ABBFE0;
    /*    background-color: var(--our--commonblue-color);*/
    color: black;
    width: 10vw;
    height: 5vh;
    margin-bottom: 1vh;
}
.unitnameinput{
    border:none;
    background-color:#d9d9d9;
    height:5vh;
    width:15vw;
    border-radius:5px;
    padding-left:10px;
}
.unittable {
    width: 100%;
    border-collapse: collapse;
 

}
.unittable th, td{
    padding:10px;
}
     .action-icon{
        text-align:end !important;
    }
     .thlast{
         text-align:end !important;
     }
    .unittable tr th, td {
        height: 5vh;
 
    }

    .unittable thead {
       /* background-color: var(--our--commonblue-color);*/
      /*  color: #fff;*/
        border-radius: 5px;
    }
    .unittable tbody {
        max-height: 65vh;
        display: block;
        width: 100%;
        overflow-y: scroll;
    }

        .unittable thead, .unittable tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
.action-icon {
    text-align: right !important;
    padding-right: 20px;
}
.trash-icon {
    color: #E72929;
    cursor: pointer;
}
.paginationpart{
    margin-top:2VH;
}
.selectcompany{
    border:none;
    height:4vh;
    width:3.5vw;
    background-color:#d9d9d9;
    border-radius:5px;
}

::-webkit-scrollbar {
    width: 10px;
    
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
    
}

/*top similar=======================================================*/
.category-heading {
    font-size: 36px;
    font-weight: 300;
}
.AddCatogeryBtn {

    padding: 2vh 0 0 20vh;
}
.addbutton {
    border: none;
    background-color: #ABBFE0;
    /*    background-color: var(--our--commonblue-color);*/
    color: #fff;
    height: 7vh;
    width: 10vw;
    border-radius: 10px;
    margin-left: 20vw;
}
.search-panel {
    justify-content: space-between;
    margin-bottom: 20px;
}

    .search-panel input[type="text"], .search-panel select {
        padding: 10px;
        margin-right: 10px;
        border: 2px solid #ddd;
        border-radius: 4px;
        width: 50%;
    }



    .search-panel button:hover {
        background-color: #0056b3;
    }
.searchbutton {
    /*    background-color: var(--our--commonblue-color);*/
    background-color: #ABBFE0;
    border: none;
    border-radius: 10px;
    width: 15vh;
    height: 8vh;
    color: black;
    cursor: pointer;
}
/*=================================================================*/