.unitpage {
    margin-top: 4%;
}
.unit-head{
    text-align:start;
}

.buttondiv{
    text-align:right;
}

.unitnameinput{
    border:none;
    background-color:#d9d9d9;
    height:5vh;
    width:15vw;
    border-radius:5px;
    padding-left:10px;
}
.unittable {
    width: 100%;
    border-collapse: collapse;
}
.unittable thead{
    border-bottom:2px solid #dcdcdc;
}
    .unittable tbody {
        display: block;
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 50vh !important;
    }

.unittable th, td{
    padding:10px;
}
     .action-icon{
        text-align:end !important;
    }
     .thlast{
         text-align:end !important;
     }
    .unittable tr th, td {
        height: 5vh;
 
    }

    .unittable thead {
        border-radius: 5px;
    }
 

        .unittable thead, .unittable tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
.action-icon {
    text-align: right !important;
    padding-right: 20px;
}
.trash-icon {
    color: #E72929;
    cursor: pointer;
}
.paginationpart{
    margin-top:4vh;
}
    .paginationpart select {
        border: none;
        background-color: #d9d9d9;
        border-radius: 5px;
        height: 29px;
        width: 57px;
    }
.selectcompany{
    border:none;
    height:4vh;
    width:3.5vw;
    background-color:#d9d9d9;
    border-radius:5px;
}
.table-container {
    border: 2px solid #dcdcdc;
    border-radius: 5px;

}

::-webkit-scrollbar {
    width: 10px;
    
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
    
}

.search-pannel {
    display: flex;
    margin-bottom: 20px;
}

    .search-pannel input {
        width: 500px;
    }

.search-input {
    border: 1px solid #dcdcdc;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.search-button {
    background-color: #0C2144;
    color: white;
    width: 60px;
    border-radius: 0 10px 10px 0;
}

    .search-button i {
        font-size: 22px;
    }




/*top similar=======================================================*/
.unit-heading {
    font-size: 36px;
    font-weight: 300;
}
.unit-heading p{
    margin-top:0;
    margin-bottom:1rem;
}
.AddCatogeryBtn {

    padding: 2vh 0 0 20vh;
}
.addbutton {
    border: none;
    color: black;
    background-color: #ABBFE0;
    height: 60px;
    width: 187px;
    border-radius: 10px;
    margin-left: 53%;
    font-size:22px;
}





/*Media Quary ====================================================================================*/
@media screen and (max-width: 1632px) {
}

@media screen and (max-width: 1254px) {
}

@media screen and (max-width: 1080px) {
    .inventorycategorypage {
        margin-top: 4.5%;
    }

    .search-pannel input {
        width: 400px !important;
    }


    .categorytable {
        font-size: 14px;
    }
}

@media screen and (max-width: 974px) {
    .inventorycategorypage {
        margin-top: 5%;
    }


    .search-pannel {
        width: 400px !important;
    }
}

@media screen and (max-width: 798px) {
    .inventorycategorypage {
        margin-top: 6%;
    }

    .search-pannel {
        width: 350px !important;
    }

    .search-button {
        width: 70px;
    }

    .search-input {
        padding: 5px;
    }

    .search-button i {
        font-size: 16px;
    }



    .unittable tbody {
        height: 45vh !important;
    }
}

